{% comment %} {% include 'breadcrumb' %} {% endcomment %}

<div class="grid grid--full page_press">

  <div class="grid-item text-center large--seven-tenths push--large--one-sixth">

    <h2>{{ page.title }}</h2>

    <div class="rte">
      {{ page.content }}
    </div>
    
    {% section 'press-page-section' %}

  </div>

</div>
